name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 'Bump version'
        uses: 'phips28/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        with:
          tag-prefix: ''
          minor-wording: 'feat,test'
          major-wording: 'feat!,BREAKING CHANGES'
          patch-wording: 'fix'
          commit-message: 'chore: bump version to {{version}} [skip ci]'
